@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600&family=Anton&family=Pacifico&display=swap');
:root {
  --header-color: #949494;
  --body--color:#D6D5CB;
  --bg-html:linear-gradient(to bottom , black , rgb(78, 76, 76));
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.name{
  color: whitesmoke;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
}

.bars{
  z-index: 500;
  cursor: pointer;
  color: var(--header-color);
}
.active{
  background-color: #0a192f ;
}
.nav-link:hover{
  color: whitesmoke !important;

}
.home{
  background: var(--bg-html);
  height: 100vh;
  color: whitesmoke;
}
.btnPortfolio{
  font-family: 'Pacifico', cursive;
  background: var(--bg-html);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-html);
}
::-webkit-scrollbar-thumb:hover {
  background: gray !important;
}
.navMobile{
  background: var(--bg-html);
}
.iconsDiv{
  top: 30%;
  left: 0%;

}
.icons{
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  transform: translate(-110px , 0px);

}
.icons:hover{
  transform: translate(0px , 0px);
  transition: .3s ease-in;
}
.navMobile{
  z-index: 500;
}